DATABASE_URL=your_database_url_here

#JWT Secret Keys
SECRET_KEY=your_jwt_secret_key_here
MANAGER_SECRET_KEY=manager_secret_key_here  

#Twilio Whatsapp Integration
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_TEMPLATE_SID=your_template_id

#Password Leak Dataset Path
ROCKYOU_PATH=/path/to/rockyou.txt
